body {
  /*background-color: teal;*/
}

#home {
  color: black;
  text-indent: 2.0em;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 150%;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  color: black;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content {
  margin: 5%;
}


/* styling for the switch */

label.switchTitle {
  margin: 5px;
  /*height: 17px;*/
  font-size: 17px
}


/* The switch - the box around the slider */

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}


/* Hide default HTML checkbox */

.switch input {
  display: none;
}


/* The slider */

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}


/* Rounded sliders */

.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
  
}

.A{
	display: none;
}
