{% extends "layout.html" %}
{% set active_page = "Home" %}
{% block title %}Home{% endblock %}
{% block content %}

    <h1>Home Page</h1>
    <p id="home">
        This website is a final project of sorts in which we display our capabilities with Hyper Text Markup Language, Cascading Style Sheets and Javascript. This website can be used as a resource for calculus to learn as well as to quiz yourself on formulas
        you may come across.
    </p>
     <img src="{{url_for('static', filename='images/Math.PNG')}}" alt="not working" style="width:500px;height:400px;">
    <br>
    <footer>This website was made by Aaron, Brendan, and Preston</footer>

{% endblock %}
