{% extends "layout.html" %}
{% set active_page = "Home" %}
{% block title %}Home{% endblock %}
{% block content %}

    <h1>Home Page</h1>
    <p id="home">
        This website is a final project of sorts in which we display our capabilities with Hyper Text Markup Language, Cascading Style Sheets and Javascript. This website can be used as a resource for calculus to learn as well as to quiz yourself on formulas
        you may come across.
    </p>
    <img src="images/Math.jpg" alt="math" style="width:500px;height:400px;">
    <br>
    <footer>This website was made by Aaron, Brendan, and Preston</footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>

</html>
