{% extends "layout.html" %}
{% set active_page = "Trig Functions" %}
{% block title %}Trig Functions{% endblock %}
{% block content %}
    <div class="content">
        <h1>Trigonometry</h1>

        <label class="switch">
      <input class="clickME" type="checkbox">
      <span class="slider round"></span>
    </label>
        <label class="switchTitle">Quiz mode</label>
    </div>

    <div class="content learn">
         <img src="{{url_for('static', filename='images/trig.PNG')}}" alt="not working">
    </div>

    <div class="content quiz">
        <h2>Quiz Mode</h2>
        <br>
        <p id="Q1" class="Q"> 1.what is the equation for sin(a+b)</p>
        <p id="A1" class="A">sin(a)*cos(b) + sin(b)*cos(a)</p>
        <p id="Q2" class="Q">2.what is the equation for cos(a-b)</p>
        <p id="A2" class="A">cos(a)cos(b)+sin(a)sin(b)</p>
        <p id="Q3" class="Q">3.what is the equation for cos(2a)</p>
        <p id="A3" class="A">(cos(a))^2 - (sin(a))^2</p>
        <p id="Q4" class="Q">4.what is the equation for cos(a/2)</p>
        <p id="A4" class="A">+/- sqrt( (1+cos(a))/2 )</p>
        <p id="Q5" class="Q">5.what is the equation for tan(a/2)</p>
        <p id="A5" class="A"> (1-cos(a))/sin(a)</p>
        <p id="Q6" class="Q">6.what is the equation for law of sines</p>
        <p id="A6" class="A"> sin(a)/a = sin(b)/b = sin(c)/c</p>
    </div>
    {% endblock %}



